*,
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
background: linear-gradient(-135deg, #c850c0, #4158d0) no-repeat;
height: 100vh;
font-family: sans-serif;
font-weight: 500;
}